# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# *.yml
backend/Thiscode/src/main/resources/application.yml
frontend/src/pages/test/*
frontend/src/pages/test
frontend/src/pages/test
.idea
.DS_Store
dump.rdb
frontend/.vscode/launch.json
backend/Thiscode/src/main/resources/application-local.yml
backend/Thiscode/src/main/java/com/example/thiscode/local.java
frontend/README.md
logs
